<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="ContentElements/LatestNewsArticlesContentElement" />

  <f:section name="Abstract">
    <f:if condition="{settings.abstract}">
      <f:format.html>{settings.abstract}</f:format.html>
    </f:if>
  </f:section>

  <f:section name="Main">
    <f:render partial="ContentElements/LatestNewsArticlesContentElement/LatestNewsArticlesList" arguments="{newsArticles: newsArticles, data: data, settings: settings}" />
  </f:section>

  <f:section name="Footer">
    <f:alias map="{pageUid: '{f:cObject(typoscriptObjectPath: \'lib.t3v.announcements.config.pages.news.uid\')}'}">
      <f:if condition="{pageUid}">
        <f:link.page pageUid="{pageUid}"
                     class="link--more link"
                     title="{f:translate(key: 'contentElements.latestNewsArticlesContentElement.toAllNewsArticles.label', default: 'To all news articles')}">
          {f:translate(key: 'contentElements.latestNewsArticlesContentElement.toAllNewsArticles.label', default: 'To all news articles')}
        </f:link.page>
      </f:if>
    </f:alias>
  </f:section>
</html>