<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:if condition="{timeline}">
    <v:tag name="div" class="t3v-announcements-news-articles" hideIfEmpty="true">
      <v:tag name="div" class="t3v-announcements-news-articles__main" hideIfEmpty="true">
        <f:for each="{timeline}" as="year">
          <div class="t3v-announcements-news-articles__tab tab" data-label="{year.label}">
            <div class="tab__header">
              <h2 class="tab__title">
                <a class="tab__anchor" href="#" title="{year.label}">{year.label}</a>
              </h2>
            </div>

            <div class="tab__main">
              <f:render partial="ContentElements/NewsArticlesContentElement/NewsArticlesList" arguments="{newsArticles: year.newsArticles}" />
            </div>
          </div>
        </f:for>
      </v:tag>
    </v:tag>

    <f:render partial="ContentElements/NewsArticlesContentElement/NewsArticles/Styles" arguments="{newsArticles: newsArticles, data: data, settings: settings}" />
  </f:if>
</html>